body {
	background-color: white;
}

.nav {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-column-gap: 10px;
	position: fixed;
	z-index: 1;
	background: skyblue;
	width: 100%;
}

.nav a {
	display: inline-block;
	font-size: 30px;
	font-weight: bold;
	font-family: Helvetica;
	text-align: center;
	margin-left: 5px;
	margin-right: 5px;
	color: black;
	border-radius: 5px;
}

.nav a:link {
	background: #edd400;
}


.nav a:hover {
	border: 1px solid;
	color: white;
	background: orange;
}

.nav a:active {
	background: green;
}