<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="/css/home-page.css">
    <script src="/script/home-page.js"></script>
</head>
<body>
<div id="row">
    <div class = "header">
        <ul>
            <li><a th:href="@{/home/}" >Home</a></li>
            <li><a th:href="@{/home/yourOffers}">Your Offers</a></li>
            <li><a th:href="@{/home/contact}" class="active">Contact</a></li>
            <li><a th:href="@{/home/profile}">Profile</a></li>
        </ul>
    </div>
</div>
</body>
</html>