<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Offers</title>
    <link rel="stylesheet" href="/css/home-page.css">
<!--     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"> -->
    <script src="/script/home-page.js"></script>
</head>
<body>
    <div id="row">
        <div class = "header">
            <ul>
                <li><a th:href="@{/home/}">Home</a></li>
                <li><a th:href="@{/home/yourOffers}" class="active">Your Offers</a></li>
                <li><a href="contact.html">Contact</a></li>
                <li><a href="profile.html">Profile</a></li>
            </ul>
        </div>
    </div>
    <div id="row1">
        <div id="searchMenuDiv">
            <input type="text" id="searchOffer" placeholder="Seach location,offer....." onkeyup="searchOffers()">
            <br>
            <button class="btn btn-primary btn-sm mb-3" th:onclick="'javascript:showForm()'">New Post</button>
        </div>
    </div>
    <br>
    <br>
    <div id="form">
    	Hello
    </div>
    <div id="row2">
        <div id="myTables">
            <ul id="myTableContents">
                <li th:each="offer: ${offers}">
                    <div th:onclick="'javascript:showDetails(' + ${offer.getOffer().getId()} + ')'">
                        <h3 th:text="${offer.getOffer().getName()}"></h3>
                        <p th:text="${offer.getOffer().getDescription()}"></p>
                    </div>
                    <div th:id="${offer.getOffer().getId()}" style="display:none">
                    	<table>
                    		<tr>
                    			<td>Posted By</td>
                    			<td th:text="${offer.getUser().getFirstName()}"></td>
                    		</tr>
                    		<tr>
                    			<td>Contact Info</td>
                    			<td th:text="${offer.getUser().getMobileNumber()}"></td>
                    		</tr>
                    		<tr>
                    			<td>Location</td>
                    			<td>
                    				<span th:text="${offer.getOffer().getAddress().getHouseNumber()}"></span>
                    				<span th:text="${offer.getOffer().getAddress().getStreet()}"></span>
                    			</td>
                    		</tr>
                    	</table>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>